/.vs
/LindedInData.Application/obj
/LindedInData.Application/bin
/LinkedInData.Application/obj
/LinkedInData.Application/bin
/LinkedInData.Application.DTO/obj
/LinkedInData.Application.DTO/bin
/LinkedInData.Domain.Core/obj
/LinkedInData.Domain.Core/bin
/LinkedInData.Domain.Services/bin
/LinkedInData.Domain.Services/obj
/LinkedInData.Infraestructure.CrossCutting.Adapter/obj
/LinkedInData.Infraestructure.CrossCutting.Adapter/bin
/LinkedInData.Infraestructure.CrossCutting.IOC/bin
/LinkedInData.Infraestructure.CrossCutting.IOC/obj
/LinkedInData.Infraestructure.Data/obj
/LinkedInData.Infraestructure.Data/bin
/LinkedInData.Infraestructure.Repository/obj
/LinkedInData.Infraestructure.Repository/bin
/LinkedInData.Presentation/obj
/LinkedInData.Presentation/bin
/Domain/obj
/Domain/bin
/LinkedInData.Domain/obj
/LinkedInData.Domain/bin
